@model Kommunikationsverktyg.Models.ViewModels.RequestedEventViewModel
@{
    ViewBag.Title = "Home Page";
}

<div id='wrap'>
    <div id='external-events'>
        <h4>Draggable Events</h4>

        <div class='fc-event' id="1">Möte</div>
        <div class='fc-event' id="2">Lunch</div>
        <div class='fc-event' id="3">Annat</div>
        <p>
            <input type='checkbox' id='drop-remove' />
            <label for='drop-remove'>remove after drop</label>
        </p>
    </div>
    <div id='calender'></div>
    <div style='clear:both'></div>
</div>



<div id="createMeeting" class="modal fade" role="dialog" style="width: 600px; height: 500px; background-color: white; margin: auto; border-radius: 25px; padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Skapa Ny Händelse</h4>
    </div>
    <div class="modal-body">
        
        @using (Html.BeginForm("AddEvent", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Titel", id = "titleBox" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Beskrivning", id = "descBox" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TimeSuggestions[0].StartTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TimeSuggestions[0].StartTime, new { @class = "form-control", id = "startTime" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.TimeSuggestions[0].EndTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TimeSuggestions[0].EndTime, new { @class = "form-control", id = "endTime" })
                    </div>
                </div>
               
                <div class="form-group">
                    @Html.LabelFor(m => m.Invitees, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.ListBoxFor(m => m.Invitees, new MultiSelectList(Model.InvitableUsers, "Key", "Value"), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Spara Händelse" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/home/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Title,
                            description: v.Description,
                            start: moment(v.Start),
                            end: moment(v.End)
                        });
                    })

                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })
            $('#external-events .fc-event').each(function () {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true, // maintain when user navigates (see docs on the renderEvent method)
                    id: $(this).attr('id')
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,
                    revertDuration: 0
                });

            });


            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 580,
                    defaultDate: new Date(),
                    axisFormat: 'H(:mm)',
                    timeFormat: 'H(:mm)',
                    defaultView: 'agendaWeek',
                    unselectAuto: true,
                    selectable: true,
                    minTime: '08:00:00',
                    maxTime: '20:00:00',
                    slotLabelFormat: 'HH:mm',
                    editable: false,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaWeek'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    editable: true,
                    droppable: true,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#createMeeting #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Börjar: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>Slutar: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm")));
                        }
                        $description.append($('<p/>').html('<b>Beskrivning: </b>' + calEvent.description));
                        $('#createMeeting #pDetails').empty().html($description);
                        $('#createMeeting').modal();
                    },
                    dayClick: function (date, jsEvent, view, resourceObj) {
                        $('#createMeeting').modal();
                    },
                    select: function (start, end, jsEvent, view, resourceObj) {
                        console.log(start.format());
                        console.log(end.format());
                        document.getElementById('startTime').value = start.format();
                        document.getElementById('endTime').value = end.format();
                        $('#createMeeting').modal();
                    },
                    eventDrop: function (calEvent, delta, revertFunc) {
                        //inner column movement drop so get start and call the ajax function......
                        console.log(calEvent.start.format());
                        console.log(calEvent.id);
                        var defaultDuration = moment.duration($('#calender').fullCalendar('option', 'defaultTimedEventDuration'));
                        var end = calEvent.end || calEvent.start.clone().add(defaultDuration);
                        console.log('end is ' + end.format());
                        document.getElementById('startTime').value = calEvent.start.format();
                        document.getElementById('endTime').value = end.format();
                        $('#createMeeting').modal();



                        //alert(event.title + " was dropped on " + event.start.format());

                    },

                    eventResize: function (calEvent, delta, revertFunc) {
                        console.log(event.id);
                        console.log("Start time: " + calEvent.start.format() + "end time: " + calEvent.end.format());
                        document.getElementById('startTime').value = calEvent.start.format();
                        document.getElementById('endTime').value = calEvent.end.format();
                        $('#createMeeting').modal();


                    },
                    drop: function (date) {

                        //Call when you drop any red/green/blue class to the week table.....first time runs only.....
                        console.log("dropped");
                        console.log(date.format());
                        console.log(this.id);
                        var defaultDuration = moment.duration($('#calender').fullCalendar('option', 'defaultTimedEventDuration'));
                        var end = date.clone().add(defaultDuration); // on drop we only have date given to us
                        console.log('end is ' + end.format());
                        document.getElementById('startTime').value = date.format();
                        document.getElementById('endTime').value = end.format();
                        $('#createMeeting').modal();


                        // is the "remove after drop" checkbox checked?
                        if ($('#drop-remove').is(':checked')) {
                            $(this).remove();
                        }
                    },
                    eventRender: function (event, element) {

                    }
                })
            }
        });
    </script>

}
