@model Kommunikationsverktyg.Models.ViewModels.ListInformalBlogViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Informell blogg";
}
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <style>
        #colorButtons {
            color: #7687e8;
        }
    </style>
</head>

<h2 id="formalblogH2">Informell Blogg</h2>
@using (Html.BeginForm("InformalBlog", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "formet" }))
{
    <div class="form-horizontal col-lg-12">

        <h4 id="formalblogH4">Gör ett inlägg</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group col-lg-12">
            @Html.TextBoxFor(m => m.Title, string.Empty, new { @class = "form-control", @placeholder = "Titel", @style = "width: 100% !important", @value = "" })
        </div>
        <div class="form-group col-lg-12">
            @Html.TextAreaFor(m => m.Message, 5, 10, new { @class = "form-control", @placeholder = "Meddelande", @value = "" })

        </div>


        <div class="form-group">
            <div class="col-lg-10">
                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @class = "custom-file-input" })
                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2">
                <button id="send-message" class="btn btn-block btn-warning" style=" margin-left: 0.1%;">Skicka</button>
            </div>
        </div>



    </div>

}



    <div class="container" id="colorButtons">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="page-header">
                    Informell Blogg
                    <small>Se alla poster</small>
                </h1>
                @foreach (var item in Model.Posts)
                {
                    <div  style="border: 1px solid #000; padding: 1%; margin: 1%;">
                        <h3>
                            @item.Title
                        </h3>
                        <p class="lead">
                            by <a href="~/Account/ViewExternProfile/@item.UserId">@item.Fullname</a>
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> Skapad @item.Timestamp.ToString()</p>
                        <hr>
                        <p>@item.Message</p>
                        <p>
                            @{ if (item.ImagePaths != null)
                                {
                                    <hr />
                                    foreach (var i in item.ImagePaths)
                                    {

                                        if (i.ToUpper().EndsWith(".MP4"))
                                        {
                                            <video  class="img-thumbnail" controls>
                                                <source src="../@i" type="video/mp4">
                                                <source src="../@i" type="video/ogg">
                                            </video>
                                        }
                                        else
                                        {
                                            <img src="../@i" class="img-thumbnail" style="max-height: 150px; min-height: 150px;" />
                                        }

                                    }
                                }
                            }
                        </p>
                        <hr>
                    </div>
                <div style="border: 1px solid #000; padding: 1%; margin: 1%;">
                    <h3>
                        @item.Title
                    </h3>
                    <p class="lead">
                        by <a href="~/Account/ViewExternProfile/@item.UserId">@item.Fullname</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Skapad @item.Timestamp.ToString()</p>
                    <hr>
                    <p>@item.Message</p>
                    <p>
                        @if (item.ImagePaths != null)
                        {
                            <hr />
                            foreach (var i in item.ImagePaths)
                            {
                                <img src="../@i" class="img-thumbnail" style="max-height: 150px; min-height: 150px;" />
                            }
                        }
                    </p>
                    <hr>
                    <button class="commentBtn btn btn-default" id="@item.PostID" value="Comment">Kommentera</button>
                    <input type="text" value="true" style="display: none !important;" />
                    <h5>Kommentarer</h5>
                    @if (item.Comments != null)
                    {
                    foreach (var comment in item.Comments)
                    {
                    <div class="container">
                        <div class="col-md-5" style="border: 1px solid black; border-radius: 3px; margin-bottom: 5px;">
                            <a href="~/Account/ViewExternProfile/@comment.User.Id">@comment.User.Firstname @comment.User.Lastname</a>
                            <p>@comment.Message</p>
                            <p>@comment.Timestamp.ToString()</p>
                        </div>

                    </div>
                    }
                    }
                </div>
                    
                }






            </div>
    
        </div>
 
    </div>
    
    <div id="CommentModal" class="modal fade" role="dialog" style="width: 600px; height: 500px; background-color: white; margin: auto; border-radius: 25px; padding: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Kommentera inlägget</h4>
        </div>
        <div class="modal-body">
            <h3>Kommentar</h3>
            <textarea id="commentText" rows="5" class="form-control" placeholder="Skriv din kommentar..." style="margin-bottom: 5%;">

            </textarea>
            <button class="btn btn-success" id="sendComment">Skicka kommentar</button>
            <p class="hidden" id="postId"></p>
        </div>
    </div>
    @section Scripts{
        <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="file"]').change(function (e) {
                var fileName = e.target.files[0].name;
                $("#file-path").empty();
                $("#file-path").append(fileName + '" har valts.');
            });
            $("#File").on("click", function () {
                $("#File").val("");
            });
        });

        $(".commentBtn").on("click", function (e) {
                var value = e.target.getAttribute("id");
                $("#CommentModal").modal();
                $("#postId").text(value);
        });

            $("#sendComment").on("click", function (e) {
                var value = $("#postId").text();
                var content = $("#commentText").val();
                var userId = "@User.Identity.GetUserId()";
                $.ajax({
                    url: "/api/informalblog/comment",
                    type: "Post",
                    data: JSON.stringify([value, userId, content]),
                    contentType: "application/json; charset=utf-8",
                    success: function () {

                        location.reload();
                    },
                    error: function () {
                        alert("Något har gått fel, kontakta systemadmin!");
                    }

                })

            });
        </script>

    }

