@model List<Kommunikationsverktyg.Models.RequestedEventModel>
@using Microsoft.AspNet.Identity;
@{

    ViewBag.Title = "Notiser";
}

<h2>Notiser</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mötesnamn</th>
                <th>Beskrivning</th>
                <th>Börjar</th>
                <th>Slutar</th>
                <th>Kan du delta?</th>
                <th>Har tackat ja</th>
                <th>Har tackat nej</th>
                <th>Har ej svarat</th>
            </tr>
        </thead>
        @if (Model != null)
        {
            foreach (var e in Model)
            {

                <tbody id="events">
                    <tr data-eventId=@e.EventId>
                        <td>@e.Title</td>
                        <td>@e.Description</td>

                        @foreach (var t in e.TimeSuggestions)
                        {
                            <td>@t.StartTime.ToString("dd MMM yyyy HH:mm")</td>
                            <td>@t.EndTime.ToString("dd MMM yyyy HH:mm")</td>
                            <td data-datemodel=@t.DateId>
                                <button value="Yes" class="acceptBtn btn btn-primary" id="acceptEvent">Ja</button>
                                <button value="No" class="declineBtn btn btn-danger" id="declineEvent" style="margin-left: 5px;">Nej</button>
                            </td>

                            <td>
                                @foreach (var v in t.Votes)
                                {
                                    if (v.VoteFor == true)
                                    {
                                        @v.Voter.Firstname @v.Voter.Lastname <br />
                                    }
                                }
                            </td>
                            <td>
                                @foreach (var v in t.Votes)
                                {
                                    if (v.VoteFor == false)
                                    {
                                        @v.Voter.Firstname @v.Voter.Lastname <br />
                                    }

                                }
                            </td>
                            <td>
                                @foreach (var u in e.Invitees)
                                {
                                    if (t.Votes != null && t.Votes.Count() > 0)
                                    {
                                        foreach (var v in t.Votes)
                                        {
                                            if (v.Voter.Id != u.Id)
                                            {
                                                @v.Voter.Firstname @v.Voter.Lastname <br />
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @u.Firstname @u.Lastname <br />
                                    }


                                }
                            </td>
                        }
                    </tr>
                </tbody>
            }
        }

    </table>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <script>
        //$(document).ready(function () {
        //    var table = $('#events');
        //    var events = [];
        //    $.ajax({
        //        type: "GET",
        //        url: "/Home/GetEventNotifications",
        //        success: function (data) {
        //            $.each(data, function (i, v) {
        //                console.log(moment(data[i].TimeSuggestions[0].StartTime).format('MMM Do YYYY HH:mm'));
        //                table.append(
        //                    '<tr>' +
        //                    '<td>' + v.Title + '</td>' +
        //                    '<td>' + v.Description + '</td>' +
        //                    '<td>' + moment(v.TimeSuggestions[0].StartTime).format('MMM Do YYYY HH:mm') + '</td>' +
        //                    '<td>' + moment(v.TimeSuggestions[0].EndTime).format('MMM Do YYYY HH:mm') + '</td>' +
        //                    '<td><button value="Yes" class="acceptBtn btn btn-primary" id="acceptEvent">Ja</button>' +
        //                    '<button value="No" class="declineBtn btn btn-danger" id="declineEvent" style="margin-left: 5px;">Nej</button></td>' +
        //                    '</tr>'
        //                );
        //                console.log(data[i].Title);
        //            })
        //        },
        //        error: function (error) {
        //            alert('failed');
        //        }
        //    })
        //});

        $(".acceptBtn").on("click", function (e) {

            var data = e.target.parentNode.getAttribute("data-datemodel");

            $.ajax({
                url: "/api/event/voteForTime",
                type: "Post",
                data: JSON.stringify([data]),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("Något har gått fel, kontakta systemadmin!");
                }

            })
        });

        $(".declineBtn").on("click", function (e) {
            var data = e.target.parentNode.getAttribute("data-datemodel");
            $.ajax({
                url: "/api/event/voteAgainstTime",
                type: "Post",
                data: JSON.stringify([data]),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("Något har gått fel, kontakta systemadmin!");
                }

            })
        })
    </script>

}

