@model Kommunikationsverktyg.Models.ViewModels.ProfileViewModel
@{
                

                ViewBag.Title = "Visa Profil";
}

<style>
    #details {
        padding: 10px;
        border: 1px;
        border-radius: 5px;
        background-color: #d1e2fc;
        position: relative;
        top: 50px;
    }

    #container {
        padding-top: 70px;
    }

    #desc {
        padding-left: 67px;
    }

    #description {
        border: solid black 1px;
        border-radius: 5px;
        min-height: 12em;
        max-width: 30em;
    }
</style>


<div>
    <h2>@Model.ApplicationUser.UserName</h2>
    <h4>@Model.ApplicationUser.Title</h4>
</div>

<div class="row" id="container">
    <div class="col-xs-4" id="image">
        <img class="img-circle" src="~/@Model.ApplicationUser.Image" id="profilepicture" height="250" width="250" />
        
    </div>

    <div class="col-xs-3" id="details">
        <p>Förnamn: @Model.ApplicationUser.Firstname</p>
        <p>Efternamn: @Model.ApplicationUser.Lastname</p>
        <p>Telefonnummer: @Model.ApplicationUser.Phone</p>
    </div>
</div>
<div class="row" id="desc">
    <h3>Om mig</h3>
    <div class="border">
        <p id="description">@Model.ApplicationUser.Description</p>
    </div>
</div>

@Html.Partial("ContactPartialView")

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#contactbtn').click(function () {
                $('#contact').modal('show');
            });
        })

    </script>
   

}

