@model Kommunikationsverktyg.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Ändra lösenord";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Ändra ditt lösenord</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
     
       
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Nuvarande lösenord" })
       
    </div>
    <div class="form-group">
       
       
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Nytt lösenord" })

    </div>
    <div class="form-group">
      
        
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Upprepa nytt lösenord" })
       
    </div>
    <div class="form-group">
       
            <input type="submit" value="Ändra Lösenord" class="btn btn-block btn-success"  />
        
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}