@model Kommunikationsverktyg.Models.ApplicationUser
@{
    ViewBag.Title = "ViewProfile";
}

<style>
    #details {
        padding: 10px;
        border: 1px;
        border-radius: 5px;
        background-color: #d1e2fc;
        position: relative;
        top: 50px;
    }

    #container {
        padding-top: 70px;
    }

    #desc{
        padding-left: 67px;
    }

    #description{
        border: solid black 1px;
        border-radius: 5px;
        min-height: 12em;
        max-width: 30em;
    }

</style>


    <div>
        <h2>@Model.UserName</h2>
        <h4>@Model.Title</h4>
    </div>
    <div class="row" id="container">
        <div class="col-xs-4" id="image">
            <img class="img-circle" src="~/@Model.Image" id="profilepicture" height="250" width="250" />
        </div>

        <div class="col-xs-3" id="details">
            <p>Förnamn: @Model.Firstname</p>
            <p>Efternamn: @Model.Lastname</p>
            <p>Telefonnummer: @Model.Phone</p>
        </div>
    </div>
<div class="row" id="desc">
    <h3>Om mig</h3>
    <p>@Model.Description</p>
    <div class="border">
        <p  id="description">aslkdadnaklsndlkandlknasdaksndlkandlkansd</p>
    </div>
</div>



